<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hoopladigital.mapper.PersonMapper">

	<select id="getPersonList" resultType="Person">
		select
			id,
			firstName,
			middleName,
			lastName
		from Person
		order by id
	</select>

</mapper>
